.task {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 90%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  touch-action: none;
  height: 30px;         /* o cualquier valor que desees */
  font-size: 16px;      /* ajusta el tamaño según necesites */
}

.checkbox {
  height: 40px;
  width: 40px;
}
